.mid{
    margin-top: 3%;
    margin-bottom: 2%;
}
.mid p{
    margin-top: 0px;
    font-size: smaller;
    color: white;
    margin-left: 50px;
}
.foot{
    width: 100%;
    display: flex;
    align-items: center;
}
.foot-left{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
    color: white;
}
.foot-mid{
    font-weight: bold;
    color: gray;
    margin-left:25%;
}
.foot-right{
    font-weight: bold;
    color: gray;
    margin-left:10%;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
}
.nav-left>div{
    cursor: pointer;
}
.foot-right>div{
    cursor: pointer;
}
.mid a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.mid a:hover{
    color: #1f80e0;
}
.mid span{
    margin-left: 5px;
}
.foot-right>span>a>img{
    
    margin-top: 10px;
    height:40px;
    width:150px;
    border-radius: 4px;
    cursor:pointer
}
.foot-mid>span>a>img{
    background-color: gray;
    margin-top: 10px;
    height:40px;
    width:40px;
    cursor:pointer
}
.foot-mid>span>a>img:hover,.foot-right>span>a>img{
    background-color: #1f80e0;
}
.foot-left1{
    display:none
}
.foot-mid1{
    display: none;
}
.foot-right1{
    display: none;
}
@media only screen and (max-width:667px){
    .foot-right{
        display: none;
    }
    .foot-mid{
        display: none;
    }
    .foot-left{
        display: none;
    }
    .mid{
        margin-top: 1.5%;
        margin-bottom: .7%;
    }
    .mid p{
        margin-top: 0px;
        font-size: smaller;
        color: white;
        margin-left: 10px;
    }
    .foot{
        width: 100%;
       
        align-items: center;
        display: flex;
    }
    .foot-left1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
        gap: 15px;
        margin-left: 20px;
        color: white;
    }
    .foot-mid1{
        font-weight: bold;
        color: gray;
    }
    .foot-right1{
        font-weight: bold;
        color: gray;
        align-items: center;
        gap: 20px;
        margin-right: 20px;
    }
    .nav-left1>div{
        cursor: pointer;
    }
    .foot-right1>div{
        cursor: pointer;
    }
    .mid a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    .mid a:hover{
        color: #1f80e0;
    }
    .mid span{
        margin-left: 5px;
    }
    .foot-right1>span>a>img{
        
        margin-top: 10px;
        height:25px;
        width:75px;
        border-radius: 1px;
        cursor:pointer
    }
    .foot-mid1>span>a>img{
        background-color: gray;
        margin-top: 10px;
        height:25px;
        width:25px;
        cursor:pointer
    }
    .foot-mid1>span>a>img:hover,.foot-right>span>a>img{
        background-color: #1f80e0;
    }
    
}