.banner-container{
    height: 550px;
    width: 95%;
    margin: auto;
    display: flex;
    background-color: red;

    
}
.banner-details{
margin-top: 100px;
}

.banner-left{
  width: 30%;
  height: 100%;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: left;
 
}
.banner-right{
    width: 70%;
    height: 100%;
 background-image: url("https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/5603/1145603-h-3038c1e973f7");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 
}
.banner-right>div{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
     rgba(0, 0, 0,1),
     rgba(0, 0, 0, 0),
     rgba(0, 0, 0,0));
}
.banner-descr{
  font-size: 22px;
  color: #cdced1;
  font-weight:600;
}
.banner-details{
  margin-left: 35px;
}